{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail asdasdasdasd11111" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirm E-mail asdasd1112 sadasd" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}



<!DOCTYPE html>
<html>
  <head>
    <title>Confirm E-mail asdasdasdasd11111</title>


  </head>
  <body>




    <div>
      <strong>Menu:</strong>
      <ul>

        <li><a href="/accounts/login/">Sign In</a></li>
        <li><a href="/accounts/signup/">Sign Up</a></li>

      </ul>
    </div>

<h1>Confirm E-mail asdasd1112 sadasd</h1>





<p>Please confirm that <a href="mailto:ngthuong.lio@gmail.com">ngthuong.lio@gmail.com</a> is an e-mail address for user ngthuong.lio.</p>

<form method="post" action="/accounts/confirm-email/OA:1mbNuk:YABKMvCaKctZba40r48GURDbxNWrXiC2AokKMtcicF8/">
<input type="hidden" name="csrfmiddlewaretoken" value="pn1Uc3SOAKIWTW0AK4xsttMZmuH1IVFUZxXz9OccMhKL6baxqPLcX0VD5F9JLQcn">
    <button type="submit">Confirm</button>
</form>







  </body>
</html>
