{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}



{#<!DOCTYPE html>#}
{#<html>#}
{#  <head>#}
{#    <title>Password Reset</title>#}
{##}
{##}
{#  </head>#}
{#  <body>#}
{##}
{##}
{##}
{##}
{#    <div>#}
{#      <strong>Menu:</strong>#}
{#      <ul>#}
{##}
{#        <li><a href="/accounts/login/">Sign In</a></li>#}
{#        <li><a href="/accounts/signup/">Sign Up</a></li>#}
{##}
{#      </ul>#}
{#    </div>#}
{##}
{##}
{#    <h1>Password Reset</h1>#}
{##}
{##}
{#    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>#}
{##}
{#    <form method="POST" action="/accounts/password/reset/" class="password_reset">#}
{#        <input type="hidden" name="csrfmiddlewaretoken" value="vVWNYQu5e5GNSrb5R8wlNTXy728XGuOXII4a9xJk9l1phfi5p6Tg5usRHmYeyYtx">#}
{#        <p><label for="id_email">E-mail:</label> <input type="email" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email"></p>#}
{#        <input type="submit" value="Reset My Password" />#}
{#    </form>#}
{##}
{#    <p>Please contact us if you have any trouble resetting your password.</p>#}
{##}
{##}
{##}
{##}
{#  </body>#}
{#</html>#}

