{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}




<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>


  </head>
  <body>




    <div>
      <strong>Menu:</strong>
      <ul>

        <li><a href="/accounts/email/">Change E-mail</a></li>
        <li><a href="/accounts/logout/">Sign Out</a></li>

      </ul>
    </div>

    <h1>Change Password</h1>



            <form method="POST" action="/accounts/password/reset/key/6-set-password/">
                <input type="hidden" name="csrfmiddlewaretoken" value="PRH6vzsIGvbAvw2LcYQeEgEMXWbLfz1vkijyIYYQqlOvtE7xi53vBdq6tknMpGG7">
                <p><label for="id_password1">New Password:</label> <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password1"></p>
<p><label for="id_password2">New Password (again):</label> <input type="password" name="password2" placeholder="New Password (again)" required id="id_password2"></p>
                <input type="submit" name="action" value="change password"/>
            </form>






  </body>
</html>

