{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}


<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>


  </head>
  <body>




    <div>
      <strong>Menu:</strong>
      <ul>

        <li><a href="/accounts/email/">Change E-mail</a></li>
        <li><a href="/accounts/logout/">Sign Out</a></li>

      </ul>
    </div>

    <h1>Change Password</h1>

    <form method="POST" action="/accounts/password/change/" class="password_change">
        <input type="hidden" name="csrfmiddlewaretoken" value="uShMkw99i6TNMkhOutgGUcL7tF1dcORcHf0VchTzB5BAunh7G0UpZrABuRSNCGql">
        <p><label for="id_oldpassword">Current Password:</label> <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required id="id_oldpassword"></p>
<p><label for="id_password1">New Password:</label> <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required id="id_password1"></p>
<p><label for="id_password2">New Password (again):</label> <input type="password" name="password2" placeholder="New Password (again)" required id="id_password2"></p>
        <button type="submit" name="action">Change Password</button>
        <a href="/accounts/password/reset/">Forgot Password?</a>
    </form>




  </body>
</html>

